<div class="more-info">
  <span style="color: inherit;"><i class="fa-solid fa-location-dot" style="color: #ea4335; text-decoration: none;"></i> New York, NY</span><br>
  <a href="mailto:{{ site.email | encode_email }}" style="color: inherit;"><i class="fa-solid fa-envelope" style="text-decoration: none;"></i> Email</a><br>
  <a href="https://www.linkedin.com/in/rushabh-sh/" style="color: inherit;"><i class="fa-brands fa-linkedin" style="color: #0077b5; text-decoration: none;"></i> LinkedIn</a><br>
  <a href="https://rrushabh.github.io/" style="color: inherit;"><i class="fa-solid fa-graduation-cap" style="text-decoration: none;"></i> Google Scholar</a><br>
</div>